<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand ms-2">

      <!-- Usamos a referência para chamar métodos do menu -->
      <i class="fa fa-bars me-2" (click)="menu.abreMenu()" (keyup.space)="menu.abreMenu()"></i>

      Gatito Book
    </a>

    <app-menu #menu> <!-- referência #menu -->
      <ul class="list-unstyled">
        <a [routerLink]="['animais', 'novo']">Novo animal</a>
      </ul>
    </app-menu>

    <!-- async: pipe para fazer subscribe em Observables direto no template.
         Colocamos o dado na variável user. -->
    <div *ngIf="user$ | async as user" class="">

      <!-- Lembra do else com template? -->
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle me-1"></i>
        <a class="me-3">{{ user.name }}</a>
        <a class="me-2" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

</header>

<ng-template #login>
  <span class="navbar-text">
    <a class="me-2" routerLink="">Login</a>
  </span>
</ng-template>
